
@import "../../css/global.scss";

#header {
  position: relative;
  top: 0;
  height: $headerHight;
  line-height: $headerHight;
  width: 100%;
  background-color: $titleBlue;
  box-shadow: 0px 2px 10px #999;
}

#logo {
  box-sizing: border-box;
  height: 60px;
  img {
    position: relative;
    top: 10px;
    height: 35px;
    display: inline-block;
  }
  text-align: center;
}

.reHeader {
  position: relative;
  box-sizing: border-box;
  padding-right: $rightBarWidth;
  height: 100%;
}

.header-container {
  position: relative;
  height: 60px;
  width: 80%;
  min-width: $minWidth;
  max-width: $maxWidth;
  margin-left: auto;
  margin-right: auto;
  a, nav {
    display: inline-block;
    position: relative;
    top: 0;
    color: #FFF;
    min-width: 100px;
    text-align: center;
    transition: 0.5s;
  }

  .focus{
    background-color: $titleFocus;
  }

}

.logo {
  margin-right: 30px;
}

nav a:hover {
  background-color: darken($titleBlue, 5%);
}

.main-nav {
  margin-left: 30px;
  margin-right: 30px;
}

.sub-nav a {
  color: lighten($titleBlue, 30%);
}

#login-signup {
  position: absolute;
  right: 0;
}
