//color
$back: #E7E5E3;
$red:  #CC3343;
$orange: #FF831B;
$black: #333;
$mainBlue: #0089DC;
$mainBlack: #3F3F3F;
$mainWhite: #FCFCFC;
$lightBorder: #F0F0F0;
$titleBlue: #1E89E0;
$titleFocus: #006BC7;

//size
$headerHight: 60px;
$minWidth: 1000px;
$maxWidth: 1200px;
$minHight: 700px;
$rightBarWidth: 35px;

// @import "./basic.scss";
